*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    
}  

body{
    font-family: Arial, Helvetica, sans-serif; 
    font-weight: 700; 
    
    background-color: hsl(240, 78%, 98%);
    min-height: 100vh; 

    display: flex;
    justify-content: center;
    align-items: center;

    /* overflow: hidden; */
}


.main-container {
    width: 100vw;
    height: 100vh;

    background-color: hsl(240, 78%, 98%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* position: relative;
    overflow: hidden; */

    background-image: url('images/bg-top.svg'), url('images/bg-bottom.svg');
    background-repeat: no-repeat;
    background-position: top right, bottom left;
    background-size: auto auto;
}

/* For Heading */

#heading{
    

    font-size: 30px;
    color : rgb(63, 67, 147);
    margin-bottom: 20px;
  
} 

/* For Toggle Switch */

.toggle-container {

  

    font-size: 20px; 

    

    color: hsl(234, 14%, 74%);
    
    display: flex;

    align-items: center; 
    gap: 20px; 

    margin-bottom: 30px; 
    
}


/* Toggle Switch */
.toggle-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
} 

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
} 

.slider {
    position: absolute;
    cursor: pointer; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(63, 67, 147,0.75);
    /* transition: 0.4s; */
    border-radius: 34px;
}  


/* For the cirular knob */
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px; 
    background-color: white; 
    transition: 0.5s; 
    border-radius: 50%;
}  

/* Checked State */
input:checked + .slider {
    background-color: rgba(63, 67, 147,0.5);
}

input:checked + .slider:before {
    transform: translateX(26px);
} 


/* For container containing 3boxes */

.container{

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;  
    
    height: 65%; 

    width: 70%;

}  


/* For boxes in container */

.box {


    display: flex;
    flex-direction: column;

    justify-content: center;

    align-items: center;

    flex: 1;               /* Distribute space equally */
    aspect-ratio: 1 / 1;  /* Maintains a 1:1 aspect ratio (square boxes) */

    border: 2px solid white;
    border-radius: 10px;
    background-color: white;
    padding: 20px;
    text-align: center;
    font-size: large;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    gap: 20px;

}

#box2{

    
    transform: scale(1.1);

    background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: white; 

} 

/* For h1,h5,hr in all boxes */

.box h1 {
    font-size: 50px;
    display: flex;
    align-items: center;
}

.box h1 small {
    font-size: 0.6em; /* Adjusts size relative to the main font */
    margin-right: 5px; /* Adds space between the dollar sign and the price */
}


#box1 h1,#box3 h1{
    opacity: 0.75;
}

#box1 h5,#box3 h5{
    font-size: large;
    opacity: 0.75;
} 

#box2 h5{
    font-size: large;
} 

#box1 hr,#box3 hr {
    width: 80%; 
    border: 1px solid gray;
    opacity: 0.5; 
    
} 

#box2 hr {
    width: 80%; 
    border: 1px solid white;
    opacity: 0.5; 
    
} 

/* For buttons in all boxes */

.box button {
    width: 80%;
    padding: 10px;
    
    border-radius: 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    
    /* transition: background-color 0.3s ease, color 0.3s ease; */
  }
  
#box1 button, #box3 button {

    
    background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: white;
}
  
#box1 button:hover, #box3 button:hover {

    border: 2px solid rgba(63, 67, 147, 0.75);
    background-image: none;
    background-color: white;
    color: rgba(63, 67, 147, 0.75);
}
  
#box2 button {

    
    background-color: white;
    color: rgba(63, 67, 147, 1);
}
  
#box2 button:hover {

    border: 2px solid white;
    background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
    color: white;
}


/* For Hovering */

/* .box:hover{

    transform: scale(1.1);
    transition: all 0s ease-in 0s;
    
    cursor: pointer;
    background-color: rgba(63, 67, 147,0.75) ;
    color: white; 

}

.box:hover button{

    
    background-color: white;
    color: rgba(63, 67, 147,0.75);
    
}

.box:hover hr {
    width: 80%; 
    border: 1px solid white;
    opacity: 0.5; 
   
}  */



/* For Small Screens */

@media (max-width: 768px) {


    .main-container {

        width: 100%;
        background-position: top right,bottom left;
        background-size: 50%,30%;
        
        flex-direction: column; 
        align-items: center; 
    }

    #heading {

        font-size: 32px;
        margin-bottom: 15px;
    }
    
    .toggle-container {

        margin-bottom: 30px;
    }
  
    .container {


        width: 80%;  
        /* height: 100%;  */
        
        
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .box {
        /* margin-bottom: 10px; */
        width: 100%;
    }

    #box2{
        transform: scale(1);
    }
  
}




   

/* @media (min-width:431px) and (max-width:767px){

    .box h1{

       
        align-items: center; 
    }

}   
 */



/* #box2{
    height: 65%;
    width: 20%;
    border: 2px solid rgba(63, 67, 147,0.75);
    border-radius: 10px;
    background-color: rgba(63, 67, 147,0.75) ;
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px; 
    align-items: center; 
    
    font-size: xx-large;
   
}  */

/* #box2 hr{
    width: 100%; 
    border: 1px solid white; 
    opacity: 0.5; 
} */

/* #box2 button{
    width: 100%;
    padding: 10px;
    color: rgb(63, 67, 147);
    border-color: rgba(63, 67, 147,0.75);
    border-radius: 10px;

} */


/* #box3{
    height: 60%;
    width: 20%;
    border: 2px solid black;
    border-radius: 10px;
    background-color: white;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
    align-items: center;
    
    font-size: xx-large;
}

#box3 button{
    width: 100%;
    padding: 10px;
    background-color: rgb(63, 67, 147);
    color: white;
    border: none;
} */


